--- 
files: 
  /etc/httpd/conf.d/ssl_rewrite.conf: 
    content: |-
        RewriteEngine Off
        <If "-n '%{HTTP:X-Forwarded-Proto}' && %{HTTP:X-Forwarded-Proto} != 'https'">
        RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R,L]
        </If>
    group: root
    mode: "000644"
    owner: root